<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create an Event</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Create an Event</h1>
    <section class="event-creation-form">
      <form
        method="POST"
        action="/events"
        Content-Type="application/x-www-form-urlencoded"
        id="submit"
         >
        <textarea
          name="text"
          id="event-title"
          placeholder="Enter the event title"
          >Event Title: </textarea>
        <textarea
          name="text"
          id="event-description"
          placeholder="Enter the description"
          >Description: </textarea>
        <textarea
          name="text"
          id="event-location"
          placeholder="Enter event location"
          >Location: </textarea>
        <textarea
          name="text"
          id="creator-name"
          placeholder="Enter your name"
          >Name: </textarea>
        <textarea
          name="text"
          id="creator-email"
          placeholder="Enter your email"
          >Email: </textarea>
        <div class="calendar">

        </div>
        <div class="event-submit">
          <button type="submit">Create</button>
            </div>
          </form>
    </section>
  </body>
</html>
