<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- DEFINING VIEWPORT -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- GOOGLE FONT - ROBOTO -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />

    <!-- GOOGLE ICON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- EVENT SCSS -->
    <link rel="stylesheet" href="/styles/thank-you.css" type="text/css" />

    <!-- COPIED FROM INDEX -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- ////////////////// -->

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>eventME - Thank you!</title>
  </head>
  <!-- //////////////// -->
  <!-- BODY STARTS HERE -->
  <!-- //////////////// -->
  <body>
    <!-- PLACEHOLDER NAV -->
    <%- include('partials/_header') %>

    <!-- MAIN WRAPPER -->
    <div class="main-wrapper">
      <!-- EVENT HEADER -->
      <div class="thank-you-header">
        <h2>Thank You For Your Participation!</h2>
        <div class="redirect-links">
          <p><a href="/event/:id">Go back to poll</a></p>
          <p><a href="/">Go back to homepage</a></p>
        </div>
      </div>


    <!-- Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- SHARE BUTTONS -->
    <script async src="https://static.addtoany.com/menu/page.js"></script>
  </body>
</html>
