body {
  font-family: "Roboto", sans-serif;

  /*--- Main content ---*/

  #main-content {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 10px;
    h1 {
      border-style: solid;
      padding: 8px;
      border-radius: 0.4rem;
      color: white;
      background-color: #310abb;
      margin-bottom: 5%;
      margin-top: 5%;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        font-size: 2em;
        border: none;
        border-bottom: 2px solid;
        border-color: rgba(0, 0, 0, 0.7);
        width: 50%;
        margin-bottom: 3rem;
        text-align: center;
      }
      #calendar {
        width: 80%;
        font-size: 1.3em;
      }
      .event-submit {
        font-size: 2em;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        #event-submit-button {
          background-color: rgb(49, 10, 187);
        }
      }
    }
    @media screen and (min-width: 860px) {
      padding-top: 7%;
      size: 7px;
      .event-submit {
        font-size: 1em;
      }
    }
  }
}
