body {
  font-family: "Roboto", sans-serif;
  .create-event-form {
    display: flex;
    justify-content: center;
  }
}

/*--- Navigation ----*/
.navbar {
  background-color: rgba(49, 10, 187, 0.6) !important;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 1px black;
}

.navbar-nav li {
  padding-right: 1em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: large;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
