body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-header {
  margin-top: 125px;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-header h2 {
  width: 80%;
  height: auto;
  font-weight: 700;
  font-size: 2em;
  color: #343a40;
  text-align: center;
  padding-bottom: 5%;
  border-bottom: #343a4081 1px solid;
}

.event-author {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-header p {
  font-size: 0.8em;
  color: #343a40;
}

.bolder-weigth {
  font-weight: 700;
}

.poll_container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date_list_row {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: black 1px solid;
}

.date_option {
  width: 10%;
  height: auto;
}

.vote_counter {
  width: 80%;
  height: auto;
}

.comment-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-event-btn {
  text-align: center;
}

#poll-submit-btn {
  background-color: rgba(49, 10, 187, 0.8);
}
