body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: white;
}

/*--- Navigation ----*/
.navbar {
  background-color: rgba(49, 10, 187, 0.6) !important;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 1px black;
}

.navbar-nav li {
  padding-right: 1em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: large;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

/*--- home page background ---*/

.home-inner {
  background-image: url(../docs/Homepage_img.jpeg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
  text-transform: uppercase;
  padding-top: 5em;
}

.caption h1 {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 2px black;
}

.btn {
  border-width: medium;
  border-radius: 0;
}

/*---- About us section -----*/

#about {
  color: #1c3850;
  margin-top: 4em;
  margin-bottom: 4em;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
}

#about h1 {
  color: #1c3850;
  text-transform: uppercase;
  font-weight: 700;
}

#about .about-underline {
  width: 3rem;
  height: 0.1rem;
  background-color: rgb(49, 10, 187);
  margin: 0 auto 3rem;
}

/*---- Feature section -----*/
.jumbotron {
  color: #1c3850;
  margin: 0;
  padding: 3rem 0 3rem;
  border-radius: 0;
}

.jumbotron h3 {
  color: #1c3850;
  text-transform: uppercase;
  font-weight: 700;
}

.jumbotron .features-heading {
  margin-bottom: 2rem;
}

#features .feature-underline {
  width: 3rem;
  height: 0.1rem;
  background-color: rgb(49, 10, 187);
  margin: 0 auto 4rem;
}

/*---- Partners section -----*/
#partners {
  color: #1c3850;
  margin-top: 4em;
  margin-bottom: 4em;
}

#partners h1 {
  color: #1c3850;
  text-transform: uppercase;
  font-weight: 700;
}

#partners img {
  width: 30%;
  filter: contrast(1.2);
}

#partners .partners-underline {
  width: 3rem;
  height: 0.1rem;
  background-color: rgb(49, 10, 187);
  margin: 0 auto 2rem;
}

.svg-inline--fa {
  color: rgb(49, 10, 187);
}
/*---- Contact section -----*/

footer {
  font-weight: 500;
  color: white;
  background-color: gray;
}

footer h1 {
  color: white;
}

footer .svg-inline--fa {
  color: white;
}

hr.socket {
  width: 100%;
  border-top: 0.2em solid #9ba2ab;
  margin-top: 3em;
}

/*---- Media Queries -----*/

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.5em;
    letter-spacing: 0.1rem;
  }

  .each-feature h3 {
    font-size: 1.2em;
  }
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
